<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.usb.host" android:required="false" />

    <application
        android:name=".VentoidApp"
        android:allowBackup="false"
        android:icon="@drawable/ventoid_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ventoid_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ventoid">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
